/* ---------- Base ---------- */
@import url("base/typography.css");
@import url("base/variables.css");



/* ---------- Components ---------- */
@import url("components/navBar.css");
@import url("components/buttons.css");



/* ---------- Sections ---------- */
@import url("sections/hero-section.css");
@import url("sections/about-section.css");



/* ---------- Reset ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    /*background-color: var(--color-white);*/
    color: var(--color-black);
    font-family: "Montserrat", sans-serif;
    position: relative;
}

html{
    scroll-behavior: smooth;
}
