/* ---------- Navigation Bar ---------- */
header{
    position: sticky;
    top: 0;
    z-index: 1000;

    background-color: white ;
}

.navbar {
    display: flex;

    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid black;
    padding: 1rem 2rem;

    
}

.logo{
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;

    background: var(--gradient-1);

    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    align-items: center;
    
}

.nav-links a{
    color: var(--color-black);
    text-decoration: none;
}

#contact{
    color: var(--color-primary);
}

#contact:hover{
    
}